[submodule "graders/currsubmission/foundry/lib/forge-std"]
	path = graders/currsubmission/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "graders/currsubmission/foundry/lib/NetworkConfig"]
	path = graders/currsubmission/foundry/lib/NetworkConfig
	url = https://github.com/Gypsaman/NetworkConfig
[submodule "graders/currsubmission/foundry/lib/foundry-chainlink-toolkit"]
	path = graders/currsubmission/foundry/lib/foundry-chainlink-toolkit
	url = https://github.com/smartcontractkit/foundry-chainlink-toolkit
