__pycache__
start_flask_server.bat
venv
.env
instance
uploads
uploads_history/
graders/imports/
graders/currsubmission
graders/exam_distribution.json
graders\exam_distribution.json
data/
submission.zip
xtesting
zero_midterms_details_V1.csv
zero_midterms_details.csv
summary.json