{% extends 'admin_base.html' %} {% block body %}
<div class="neuro-content">
  <h1>Users</h1>
    {{ table | safe }}
    <div class="neuro-form-section">
      <form action="\dashboard\student" method="POST" class="neuro-form">
          <div class="neuro-form-entry-row">
              <label for="studentid">Pick Student</label>
              <select id="studentid" name="studentid" required>
                  {% for user in users %}
                  <option value="{{ user.id }}">{{ user.student_id }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="neuro-form-entry-row">
              <button type="submit" class="neuro-button-main">Dashboard</button>
          </div>
      </form>
  </div>
</div>
{% endblock %}