{% extends 'base.html' %}
{% block body %}
<div class="neuro-dashboard">
    

    {% include 'dashboard/profile.html' %}

    <div class="neuro-dashboard-content">

        <div class="neuro-dashboard-content-section1">
            <div>
                <h3>Grades</h3>
            </div>
            <div>

                <h1>Assignments</h1>
                {{grades_table|safe}}
            </div>
            <div>
                <h1>Quizzes</h1>
                {{quizzes_table|safe}}
            </div>
        </div>
        <div class="neuro-dashboard-content-section2">
            <div >
                <h1 >Submissions</h1>
                {{submissions_table| safe}}
            </div>

        </div>

        
    </div>
</div>
{% endblock %}
