<div style="display:flex; flex-direction: column;">
    {% if wallet == None %}
    <div style="display:flex;flex-direction: row; justify-content: right;">
        <button class="neuro-button-small" onclick="window.location.href='/wallet'">Add Wallet</button>
    </div>
    {% else %}
    <div style="display:flex;flex-direction: row; justify-content: right;">
        <button class="neuro-button-small" onclick="window.location.href='/wallet/update/{{wallet.id}}'">Edit Wallet</button>
    </div>
    {% endif %}

    <div style="display:flex;flex-direction: row;justify-content: space-between;">
        <label for="walletaddress">Wallet Address</label>
        <input name="wallet_address" type="text" size="100" value={{ wallet.wallet }} >
    </div>

    <div style="display:flex;flex-direction: row;justify-content: space-between">
        <label for="ETH balance">Eth Balance</label><br>
        <input name="ETH balance" type="text" size=100 value={{ ethbalance }}>
    </div>
</div>