<nav class="neuro-navbar" >
  <div class="neuro-flex-row ">
    <a href="/dashboard" >
      <img class="neuro-logo" src="/static/imgs/DNA_Secondary-white.png" />
    </a>
  </div>
  <div class="neuro-flex-row  neuro-flex-right ms-auto">

      <ul class="neuro-flex-row ">
      {% if current_user.is_authenticated %}

        <li class="neuro-nav-item">
          <a href="/submissionselect" class="neuro-nav-link">Submission</a>
        </li>
        <li class="neuro-nav-item">
          <a href="/quizzes" class="neuro-nav-link">Quizzes</a>
        </li>
        <li class="neuro-nav-item">
          <a href="/attendance" class="neuro-nav-link">Attendance</a>
        </li>
        <li class="neuro-nav-item">
          <a href="/resources" class="neuro-nav-link">Resources</a>

        {%if current_user.role == 'admin' %}
          <li class="neuro-nav-item">
            <a href="/admin" class="neuro-nav-link">Admin</a>
          </li>
        {% endif %}
        <li class="neuro-nav-item">
          <a href="/logout" class="neuro-nav-link">LogOut</a>
        </li>

      
      {% else %}
        <!-- <li class="neuro-nav-item">
          <a href="/login" class="neuro-nav-link">Log in</a>
        </li> -->
      {% endif %}
    </ul>
  </div>
</nav>
