<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="/static/imgs/DNA_Icon-primary.png" style="height:30px; object-fit:contain;">
        </a>

        <button 
            class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navmenu"
        >
            <span class="navbar-toggle-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navmenu" >
        <ul class="navbar-nav ms-auto">
            {% if current_user.is_authenticated %}

            <li class="nav-item">
                <a href="/profile" class="nav-link">Profile</a>
            </li>
            <li class="nav-item">
                <a href="/wallet" class="nav-link">Wallet</a>
            </li>
            <!-- <li class="nav-item">
                <a href="/tokens" class="nav-link">Tokens</a>
            </li>
            <li class="nav-item">
                <a href="/NFTs" class="nav-link">NFTs</a>
            </li>
            <li class="nav-item">
                <a href="/Transactions" class="nav-link">Transactions</a>
            </li> -->
            <li class="nav-item">
                <a href="/assets" class="nav-link">Assets</a>
            </li>

            <li class="nav-item">
                <a href="/assignments" class="nav-link">Assignments</a>
            </li>

            <li class="nav-item">
                <a href="/grades" class="nav-link">Grades</a>
            </li>
            <li class="nav-item">
                <a href="/logout" class="nav-link">LogOut</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="/login" class="nav-link">Log in</a>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>