{% extends 'base.html' %}
{% block body %}
<div class="neuro-content">
    <div>
        <h1>Profile</h1>
    </div>
    <form class="neuro-login-form">
        <div class="neuro-form-section">
            <h3>Personal Info</h3>
            <div class="neuro-form-input">
                <Label for="firstname">First Name</Label>
                <input name="firstname" type="text" value={{ user.first_name }}>
            </div>
            <div class="neuro-form-input">
                <Label for="lastname">Last Name</Label>
                <input name="lastname" type="text" value={{ user.last_name }}>
            </div>
            <div class="">
                <label for="email">Email</Label>
                <input name="email" type="email" value={{ user.email }}>
            </div>
            <div class="">
                <label for="studentid">Student ID</label>
                <input name="studentid" type="number" value={{ user.student_id }}>
            </div>
        </div>
    </form>
    <form class="neuro-login-form">
        <div class="neuro-form-section">
            <h3>Wallet Info</h3>
            <div class="">
                <label for="walletaddress">Wallet Address</label>
                <input name="walletaddress" type="text" size=100 value={{ wallet.wallet }}>
            </div>
            <div class="">
                <label for="privatekey">Private Key</label>
                <input name="privatekey" type="text" size = 100 value={{ wallet.privatekey }}>
            </div>
            <div>
                <label for="balance">Eth Balance</label>
                <input name="balance" type="number" step="0.3" style="text-align: right;" value={{ eth_balance }} >
            </div>
        </div>
    </form>
    <form class="neuro-login-form">
        <div class="neuro-form-section">
            <h3>Assets</h3>
            <div>
                <label for="tokens">Tokens</label>
                <input name="tokens" type="number" value={{ tokens }}>
            </div>
            <div>
                <label for="nft s">NFTs</label>
                <input name="nfts" type="number" value={{ nfts }}>
            </div>
        </div>
    </form>
</div>
{% endblock %}
