.neuro-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}
.neuro-table div.scroll {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.neuro-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.neuro-table th,
.neuro-table td {
    padding: 12px 15px;
}

.neuro-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.neuro-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.neuro-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.neuro-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.neuro-table-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: top;
    padding: 5px;
    margin: 5px;
    
  }