{% extends 'base.html' %}

{% block body %}
<div class="neuro-content">
    {% for metadata in metadatas %}
        <div class="neuro-view-nft">
            <img src="https://ipfs.io/ipfs/{{metadata['image']}}" alt="NFTs" style="height:300px">
            <h1 class="title">{{ metadata['name'] }}</h1>
            <p>{{ metadata['description'] }}</p>

            <div class="neuro-nft-metadata">
            {% for attribute in metadata['attributes'] %}

                <div class style="display:flex; flex-direction:row; justify-content:space-between; margin:10px 0px;">
                    {% for key,value in attribute.items() %}
                        <div class = "neuro-nft-attribute-label">{{ key }}</div>
                        <div class = "neuro-nft-attribute-value"> {{ value }} </div>
                    {% endfor %}
                </div>

            {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}