{% extends 'admin_base.html' %}

{% block body %}
<div class="neuro-content">
    <h1>Add Quiz</h1>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}. 
    </div>
    {% endif %} {% endwith %}
    <div class="neuro-form-section">
        <form class="neuro-form"  method="POST" action="/add_quiz">
            <div class="neuro-form-entry-row">
                <label for="description">Quiz Description</label>
                <input type="text" id="description" name="description" placeholder="Quiz Description" required>
            </div>

            <div class="neuro-form-entry-row" style="margin-top: 10px;">
                <input type="checkbox" id="multiple_retries" name="multiple_retries" required>
                <label for ="multiple_retries>" >Multiple Retries</label>
            </div>
            <div class="neuro-form-entry-row" style="margin-top: 10px;">
                <input type="checkbox" id="active" name="active" required>
                <label for ="active>" >Active</label>
            </div>
            <div class="neuro-form-entry-row">
                <label for="grade_category">Grade Category</label>
                
                <select id="grade_category" name="grade_category" required>
                    <option value="Assignment" selected>Assignment</option>
                    <option value="Midterm">Midterm</option>
                    <option value="Final">Final</option>
                    <option value="Extra Credit">Extra Credit</option>
                </select>
            </div>
            <div class="col d-flex justify-content-center mt-5">
                <button type="submit" class="neuro-button-main">Add</button>
            </div>
        </form>
        </form>
    </div>

</div>
{% endblock %}