{% extends 'admin_base.html' %}

{% block body %}
<div class="neuro-content">
    <h1>Edit Quiz</h1>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}. Go to
        <a href="{{ url_for('main.profile') }}">Profile Page</a>
    </div>
    {% endif %} {% endwith %}
    <div class="neuro-form-section">
        <form class="neuro-form"  method="POST" action="/quizzes/update">
            <div class="neuro-form-entry-row">
                <label for="description">Quiz Description</label>
                <input type="text" id="description" name="description" value="{{quiz.description}}" >
            </div>

            <div class="neuro-form-entry-row">
                <label for ="multiple_retries>" >Multiple Retries</label>
                <input type="checkbox" id="multiple_retries" name="multiple_retries" {%if quiz.multiple_retries%}checked{%endif%} >
            </div>
            <div class="neuro-form-entry-row">
                <label for ="active>" >Active</label>
                <input type="checkbox" id="active" name="active" {%if quiz.active%}checked{%endif%}>
            </div>
            <div class="neuro-form-entry-row">
                <label for="grade_category">Grade Category</label>
                
                <select id="grade_category" name="grade_category" required>
                    <option value="Assignment" selected>Assignment</option>
                    <option value="Midterm">Midterm</option>
                    <option value="Final">Final</option>
                    <option value="Extra Credit">Extra Credit</option>
                </select>
            </div>
            <div class="neuro-form-entry-row">
                <button type="submit" class="neuro-button-main">Update</button>
                <button type="button" class="neuro-button-main" onclick="window.location.href='/quiz_duedate/{{quiz.id}}'">
                    Due Dates
            </div>
        </form>

        
    </div>
    <h1>Topics</h1>
    {{ table | safe }}
    <div class="neuro-flex-row" >
        <div>
            <button class="neuro-button-main" onclick="window.location.href='/add_quiz_topic/{{quiz.id}}'">
                Add Topic
            </button>

        </div>  
    </div>
    <div class="neuro-flex-row" >
        <button class="neuro-button-main" onclick="window.location.href='/generate_quizzes/{{quiz.id}}'"> Generate Quizzes</button>
    </div>
    <div class="neuro-flex-row" >
        <button class="neuro-button-main" onclick="window.location.href='/student_quizzes/{{quiz.id}}/1'"> View Quizzes</button>
    </div>
</div>
{% endblock %}