{% extends 'base.html' %}
{% block body %}
<div class="neuro-content">
    <h1>Reset Password</h1>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}. Go to
        <a href="{{ url_for('auth.login') }}">login page</a>
    </div>
    {% endif %} {% endwith %}
    <form class="neuro-login-form" method="POST" action="/passwordreset">
        <div class="neuro-form-section">
            <!-- Email input -->
            <div class="mb-4">
                <input
                    type="email"
                    id="FormEmail"
                    name="email"
                    class="form-control"
                    placeholder="Email Address"
                />
            </div>
            <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
</div>
{% endblock %}