{% extends 'base.html' %}

{% block body %}

<div class="neuro-content">
    <h1>Update Password</h1>
    <form action="\passwordupdate\{{pwdreset.get_password_phrase()}}" method="POST" class="neuro-form">
        {% with messages = get_flashed_messages() %} 
            {% if messages %}
                <div style="color:red">{{ messages[0] }}</div>
            {% endif %} 
       {% endwith %}
        <div>
            <label for="New Password">New Password</label>
            <input type="password" name="new_password" id="new_password" placeholder="New Password" required>
        </div>
        <div>
            <label for="New Password">New Password</label>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="New Password" required>
        </div>
        <div class="col d-flex justify-content-center mt-5">
            <button type="submit" class="btn btn-primary btn-block mb-4 btn-center">Update</button>
        </div>
    </form>
</div>
{% endblock %}