{% extends 'base.html' %} {% block body %}
<div class="neuro-content">
  <h1>Transactions</h1>
  <p></p>
    {{ table | safe }}
    <div class="neuro-flex-row" style="margin-top: 10px;">
        <div>
            <button class="btn btn-primary" onclick="window.location.href='/addethtransactions'" {% if not button_enabled  %} disabled {% endif %}>
                {% if not button_enabled  %}Add Wallet First{%else%}Add Tx from ETH{% endif %}
            </button>
        </div>  
    </div>
</div>
{% endblock %}