{% extends 'base.html' %}

{% block body %}

<div class="neuro-content">
    <div class="d-flex flex-column">
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div>
              <h1>Assets</h1>
            </div>
            <div>
              <button
              class="btn btn-primary"
              style="width: 100px; margin: 20px"
              onclick="window.location.href='/assets'"
            >
              Change View
            </button>
            </div>
          </div>
        <table class="neuro-table">

            <thead>
                <tr>
                    <th>Type</th>
                    <th>Network</th>
                    <th>Details</th>
                    <th>Address</th>
                    <th>Added ON</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for asset in assets %}
                <tr>
                    <td>{% if asset.asset_type == 1 %}Token{% else %}NFT{% endif %}</td>
                    <td>{{ asset.network }}</td>
                    {% if asset.asset_type == 2 %}
                    <td><a href="/viewnfts/{{asset.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="neuro-edit" viewBox="0 0 16 16">
                        <path d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V2.5zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5h-1zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V4zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5V3zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14z"/>
                      </svg></a></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td>{% if asset.network== "goerli" %}
                            <a href="https://goerli.etherscan.io/address/{{asset.asset_address}}">{{ asset.asset_address }}</a>
                        {% else %}
                            {{ asset.asset_address }}
                        {% endif %}
                        </td>
                    <td>{{ asset.time_added}}</td>
                    <td>
                        <div class="d-flex justify-content-between">
                            <ddiv style="margin-right: 15px">
                                <a href="/assetdelete/{{asset.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="neuro-delete" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                </svg></a>
                            </div>
                            <div>
                                <a href="/assets/update/{{asset.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="neuro-edit" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                </svg></a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div style="display: flex; flex-direction: row;align-items: center;justify-content: center; margin-top:15px">
        <button class="btn btn-primary" style="width:100px; margin:20px" onclick="window.location.href='/addassets'">Add Asset</button>
    </div>
    </div>
</div>
{% endblock %}