{% extends 'admin_base.html' %}

{% block body %}
<div class="neuro-content">
    <h1>Edit Assignment</h1>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}. Go to
        <a href="{{ url_for('main.profile') }}">Profile Page</a>
    </div>
    {% endif %} {% endwith %}
    <div class="neuro-form-section">
        <form class="neuro-form"  method="POST" action="/assignments/update/{{assignment.id}}">
            <div class="neuro-form-entry-row">
                <label for="assignmentName">Assignment Name</label>
                <input type="text" id="assignmentName" name="assignmentName" value=" {{ assignment.name }}" required>
            </div>
            <div class="neuro-form-entry-row">
                <label for ="inputtype" >Submissions Type</label>
                <select id="inputtype" name="inputtype" required style="min-width:200px">
                    <option value="address" {% if assignment.inputtype == 'address' %}selected{% endif %}>Address</option>
                    <option value="address_abi" {% if assignment.inputtype == 'address_abi' %}selected{% endif %}>Address with ABI</option>
                    <option value="Github Repository" {% if assignment.inputtype == 'Github Repository' %}selected{% endif %}>Github Repository</option>
                    <option value="text" {% if assignment.inputtype == 'text' %}selected{% endif %}>Text</option>
                    <option value="file" {% if assignment.inputtype == 'file' %}selected{% endif %}>File</option>
                    <option value="none" {% if assignment.inputtype == 'none' %}selected{% endif %}>None</option>
                </select>
            </div>
            <div class="neuro-form-entry-row">
                <label for="grader">Grader</label>
                <input id="grader" name="grader" value=" {{ assignment.grader }}" required>
            </div>
            <div class="neuro-form-entry-row">
                <label for ="active" >Active</label>
                <input id="active" name="active" type="checkbox" {% if assignment.active %}checked{% endif %} >
            </div>
            <div class="neuro-form-entry-row">
                <label for="retries">Retries</label>
                <input id="retries" name="retries" required value="{{ assignment.retries }}">
            </div>
            <div class="neuro-form-entry-row">
                <label for="grade_category">Grade Category</label>
                
                <select id="grade_category" name="grade_category" required>
                    <option value="Assignment" selected>Assignment</option>
                    <option value="Midterm">Midterm</option>
                    <option value="Final">Final</option>
                    <option value="Extra Credit">Extra Credit</option>
                </select>
            </div>
            <div class="neuro-form-entry-row">
                <button type="submit" class="neuro-button-main">Update</button>
                <buttom type="button" class="neuro-button-main" onclick="window.location.href='/assignments_due/{{ assignment.id }}'">
                    Due Dates
                </button>
            </div>
            
        </form>
    </div>

</div>

{% endblock %}