{% extends 'admin_base.html' %}

{% block body %}
<div class="neuro-content">
    <h1>Add Assignment</h1>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}. Go to
        <a href="{{ url_for('main.profile') }}">Profile Page</a>
    </div>
    {% endif %} {% endwith %}
    <div class="neuro-form-section">
        <form class="neuro-form"  method="POST" action="/addassignment">
            <div class="neuro-form-entry-row">
                <label for="assignmentName">Assignment Name</label>
                <input type="text" id="assignmentName" name="assignmentName" placeholder="Assignment Name" required>
            </div>

            <div class="neuro-form-entry-row" style="margin-top: 10px;">
                <label for ="inputtype" >Submissions Type</label>
                <select id="inputtype" name="inputtype" required>
                    <option value="address">Address</option>
                    <option value="address_abi">Address with ABI</option>
                    <option value="text">Text</option>
                    <option value="file">File</option>
                </select>
            </div>
            <div class="neuro-form-entry-row">
                <label for="grader">Grader</label>
                <input id="grader" name="grader" placeholder="Grader" required>
            </div>
            <div class="neuro-form-entry-row">
                <label for ="active" >Active</label>
                <input id="active" name="active" type="checkbox" >
            </div>
            <div class="col d-flex justify-content-center mt-5">
                <button type="submit" class="btn btn-primary btn-block mb-4 btn-center">Update</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}