{% extends 'base.html' %}

{% block body %}
<div class="neuro-content">
    {% with messages = get_flashed_messages() %} 
    {% if messages %}
    <div style="color:red">{{ messages[0] }}</div>

    {% endif %} 
    {% endwith %}
    <div class="neuro-form-section">
        {% if max_submission %}
        <h3>You have reached your maximum submissions for this assignment</h3>
        {% else %}
        <form action="\submission\{{assignment.id}}" method="POST" class="neuro-form" enctype="multipart/form-data">
            <h1>Submission </h1>
            <h2>{{ assignment.name }}</h2>
            <p> due on: {{duedate.duedate}}</p>
            <div class="neuro-form-entry-row">
                {% if assignment.inputtype == "text" %}
                    <label for="submission">Submission</label>
                    <input type="text" name="submission" placeholder="Enter your answer here" required>
                {% endif %}
                {% if assignment.inputtype == "file" %}
                    <input type="file" name="submission" required>
                {% endif %}
                {% if assignment.inputtype == "Github Repository" %}
                    <label for="submission">Github Repository</label>
                    <input type="url" name="submission" placeholder="Enter URL here" required>
                {% endif %}
                {% if assignment.inputtype.startswith("address") %}
                    <label for="submission">Submission</label>
                    <input type="text" name="submission" 
                        placeholder="0xCDdE8850c5F52B9A03631C1Bf241423164fb3d43" 
                        pattern="0x[a-zA-Z0-9]{40}" required
                        style="min-width:42em" >
                {% endif %}
            </div>
                {% if assignment.inputtype == "address_abi" %}
                <div style="display:flex;flex: row; margin-top:20px">
                    <label for ="network" style="margin-right:80px">Network</label>
                    <select  name="network" >
                        <option value="sepolia" select>Sepolia</option>
                        <option value="goerli" >Goerli</option>
                        <option value="holesky">Holesky</option>
                   </select>
                    
                </div>
                <div class="neuro-form-entry-row">
                    <label for="abi">Contract ABI</label>
                    <textarea name="abi" 
                        placeholder="Enter ABI here" 
                        required
                        rows="5" ></textarea>
                </div>
                {% endif %}

            {% if assignment.inputtype == 'none' %}
                <div>
                    <p>There is no submission for this assignment</p>
                </div>
            {% else %}
            <div class="neuro-form-entry-row" style="margin: 20px">
                <button class="neuro-button-main" type="submit">Submit</button>
            </div>
            {% endif %}
        </form>
    </div>
    <div class="neuro-form-section">
        <h3>Submission History</h3>
        {{ table | safe }}
    </div>
    {% endif %}
</div>
{% endblock %}