{% extends 'base.html' %}

{% block body %}
<div class="neuro-content">
    <div>
    <img src="/static/imgs/DNA_DNA.png" alt=""  style="height:250px">
</div>
    <div style="text-align:center">
        <h1 style="color: #00002f; font-family: rubik; font-size: 40px;">Distributed Neural Applications</h1>

    </div>
    {% if current_user.is_authenticated == False %}
    <div>
        <button class="neuro-button-login" onclick="window.location.href='/login'">Log In</button>
    </div>
    {% endif %}
</div>

{% endblock %}