{% extends 'base.html' %} {% block body %}
<div class="neuro-content">
    {% with messages = get_flashed_messages() %} 
    {% if messages %}
    <div style="color:red">{{ messages[0] }}</div>

    {% endif %} 
    {% endwith %}
    <div class="neuro-resources">
        <h1>Resources for {{class_name}}</h1>
        <div class="neuro-flex-row" >
            <div style=" margin-right: 10px; min-width: 300px;">
                <p>Here are the class slides:</p>
                <ul>
                    {% for slide in slides %}
                        <li><a href="{{ url_for('main.view_slides',filename=slide,class_name=class_name) }}">{{slide.split('.')[0].split('-')[1]}}</a></li>
                    {% endfor %}

                </ul>
            </div>
            <div style=" margin-right: 10px; min-width: 300px;">
                <p>Here are the class videos:</p>
                <ul>
                    {% for video in videos %}
                        <li><a href="{{ url_for('main.view_videos',filename=video,class_name=class_name) }}">{{video.split('.')[0].split('-')[1]}}</a></li>
                    {% endfor %}

                </ul>
            </div>
        </div>
</div>
{% endblock %}
