{% extends 'base.html' %} {% block body %}
<div class="neuro-content">
  <h1>Transactions ({{transactions | length}})</h1>
    {% if transactions | length == 0 %}
        <p>No transactions added yet</p>
    {% else %}
        <table class="neuro-table">
            <thead>
                <tr>
                    <th>BlockNumber</th>
                    <th>Time Stamp</th>
                    <th>Hash</th>  
                    <th>nonce</th>
                    <th>Block Hash</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Index</th>
                    <th>Value</th>
                    <th>gas</th>
                    <th>Gas Price</th>
                    <th>Is Error</th>
                    <!-- <th>txreceipt_status</th>
                     -->
                    <th>contractAddress</th>
                    <!--
                    <th>cumulativeGasUsed</th>
                    <th>gasUsed</th>
                    <th>confirmations</th>
                    <th>Method ID</th> -->
                    
                </tr>
            </thead>
            <tbody>
                {% for tran in transactions %} 
                    <tr>
                        <td>{{tran.blockNumber}}</td>
                        <td>{{tran.timeStamp}}</td>
                        <td>{{tran.hash[:10]+'...'}}</td>
                        <td>{{tran.nonce}}</td>
                        <td>{{tran.blockHash[:10]+'...'}}</td>
                        <td>{{tran.trans_from[:10]+'...'}}</td>
                        <td>{{tran.trans_to[:10]+'...'}}</td>
                        <td>{{tran.transactionIndex}}</td>
                        <td>{{tran.value/(10**18)}}</td>
                        <td>{{tran.gas/(10**18)}}</td>
                        <td>{{tran.gasPrice/(10**18)}}</td>
                        <td>{{tran.isError}}</td>
                        <!-- 
                        <td>{{tran.txreceipt_status}}</td>
                        -->
                        <td>{{tran.contractAddress}}</td>
                        <!--
                        <td>{{tran.cumulativeGasUsed}}</td>
                        <td>{{tran.gasUsed}}</td>
                        <td>{{tran.confirmations}}</td>
                        <td>{{tran.methodID}}</td> -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <div class="neuro-flex-row">
        <div>
            <button
            class="btn btn-primary"
            style="width: 100px; margin: 20px"
            onclick="window.location.href='/addtransaction'"
            >
            Add Transaction
            </button>
        </div>
        <div>
            <button
            class="btn btn-primary"
            style="width: 100px; margin: 20px"
            onclick="window.location.href='/addethtransactions'"
            >
            Add Tx from ETH
            </button>
        </div>

    </div>

</div>
{% endblock %}