{% extends 'base.html' %}

{% block body %}
<div class="neuro-content">
    <form class="neuro-login-form"  method="POST" action="/wallet">
        
        {% with messages = get_flashed_messages() %} {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}</a>
        </div>
        {% endif %} {% endwith %}
        <div class="neuro-form-section">
            <h3>Wallet Info</h3>
            <div class="">
                <label for="walletaddress">Wallet Address</label>
                <input name="wallet_address" 
                    type="text" 
                    size="100" 
                    required 
                    placeholder="0xCDdE8850c5F52B9A03631C1Bf241423164fb3d43"
                    pattern ="0x[a-zA-Z0-9]{40}" >
            </div>
            <div class="col d-flex justify-content-center mt-5">
                <button type="submit" class="neuro-button-main">Update</button>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}